<style type="text/css">

  .my-legend{
  	padding: 1%;
  }

  .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: bold;
    font-size: 90%;
    }

  .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }

  .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }

  ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }

  .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }

  a {
    color: #777;
    }

  .map {
  	float:left;
  	width: 30%;
  	height: auto;
  	border: 1px solid black;
  	margin: 1%;
  	text-align: center;
    margin-bottom: 8px;
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: bold;
    font-size: 90%;
  }


  .mapbox{
  	width: 100%;
  }

 img{
 	max-width:100%; 
 	max-height:100%;
 }

</style>